.reveal section img {
    border: 0;
    box-shadow: none; 
}
.reveal section h4 strong {
    color:#FF0000; 
}
.reveal section h4 {
    color:orange; 
}
.reveal section h2 {
    color:orange; 
}
.reveal section h5 {
    color:orange; 
}
